<!doctype html>
<html>
<head>
    <title><%= locals.title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Keyframe Visuals">
    <meta name="keywords" content="Keyframe Visuals">
    
    <link href="/public/css/core.min.css" rel="stylesheet">
    <link href="/public/css/thesaas.css" rel="stylesheet">
    <link href="/public/css/styles.css" rel="stylesheet">
    <link href="/css/hover.css" rel="stylesheet">
    <link href="/css/aos.css" rel="stylesheet">
    <link href="/public/css/chat.css" rel="stylesheet">
    
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/public/javascript/chat.js"></script>
</head>
<body>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v3.2'
        });
      };

      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat"
      attribution=setup_tool
      page_id="427248901343241"
      theme_color="#fa3c4c">
    </div>

<div class="container-fluid" style="padding:0px;">
	<!-- THIS IS THE BANNER -->
	<%- include("templates/header.ejs") %>
	<!-- END BANNER -->

	<!-- THIS IS THE NAVBAR -->
	<%- include("../templates/navbar.ejs") %>

    <!-- THIS IS THE ABOUT US SECTION -->
	<%- include("templates/about-us.ejs") %>
    <!-- // END OF ABOUT US SECTION -->

    <!-- THIS IS THE OUR TEAM SECTION -->
    <%- include("templates/our-team.ejs") %>
    <!-- // END OF OUR TEAM SECTION -->

    <!-- THIS IS THE OUR SERVICES SECTION -->
    <%- include("templates/services.ejs") %>
    <!-- // END OF OUR SERVICES SECTION -->

    <!-- THIS IS THE OUR PORTFOLIO SECTION -->
    <%- include("templates/portfolio.ejs") %>
    <!-- // END OF OUR PORTFOLIO SECTION -->

    <!-- THIS IS THE OUR TESTIMONIALS SECTION -->
    <%- include("templates/our-blog.ejs") %>
    <!-- // END OF OUR TESTIMONIALS SECTION -->

    <section class="section section-inverse cta-register" style="background-image: url(public/images/white.png)" data-overlay="3">
        <div class="container">
            <div class="col-12 col-md-12 text-center">
                <h4 class="mb-0">HAVE WE WORKED WITH YOU BEFORE?</h4><br>
                <a class="btn hvr-hang" style="background-color: white; color: #a55757;" href="#" data-scrollto="section-contactus">
                Send Feedback
                </a>
            </div>
        </div>
    </section>

    <!-- THIS IS THE OUR TESTIMONIALS SECTION -->
    <%- include("templates/testimonials.ejs") %>
    <!-- // END OF OUR TESTIMONIALS SECTION -->

    <section class="section section-inverse cta-register" style="background-image: url(public/images/startup-photos.jpg)" data-overlay="5">
        <div class="container">
            <div class="col-12 col-md-12 text-center">
                <h4 class="mb-0">DO YOU HAVE IDEAS FOR WEB SITES?</h4><br>
                <a class="btn hvr-hang" style="background-color: white; color: #a55757;" href="#" data-scrollto="section-contactus">
                Contact Us
                </a>
            </div>
        </div>
    </section>  

    <!-- THIS IS THE CONTACT US SECTION -->
    <%- include("templates/contact-us.ejs") %>
    <!-- // END OF THE CONTACT US SECTION -->
</div>
<%- include("../templates/footer.ejs") %>
<script src="/public/javascript/core.min.js"></script>
<script src="/public/javascript/thesaas.min.js"></script>
</body>
</html>